<section class="heading-section">
  <h1 class="title is-1 has-text-centered">TODO LIST APP</h1>
</section>

<div class="container add-todo-box-container">
  <div class="add-todo-box">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <h2 class="title is-5">New Todo</h2>
      <div class="field is-grouped" style="margin: 0;">
        <p class="control is-expanded">
          <input ngModel
            #todoTitleField="ngModel" 
            required 
            name="title" class="input" type="text"
            placeholder="Title">
        </p>
        <p class="control is-expanded">
          <input ngModel
            #todoTextField="ngModel" 
            required
            name="text" class="input" type="text"
            placeholder="Description">
        </p>
        <p class="control">
          <button type="submit" class="button alt-gradient-button">
            <i class="material-icons">add</i>
            Add
          </button>
        </p>
      </div>
      <div *ngIf="todoTitleField.invalid || todoTextField.invalid || showValidationErrors">
        <p class="help is-danger" *ngIf="todoTitleField.errors?.required || todoTextField.errors?.required">
          Please enter the text of your todo
        </p>
      </div>
      <div>
          <p class="control is-expanded">
              Deadline
              <input name="date" [(ngModel)]="today" type="date" required>
          </p>
      </div>
    </form>
  </div>
</div>

<section class="section">
  <div class="container">

    <div class="todos-list">
      <app-todo-item 
        *ngFor="let todo of todos" 
        [todo]="todo" 
        (todoClicked)="toggleCompleted(todo)"
        (editClicked)="editTodo(todo)"
        (deleteClicked)="deleteTodo(todo)"
      ></app-todo-item>
    </div>
  </div>
</section>
