<div class="todo-item" (click)="onTodoClicked()" [class.completed]="todo.completed">

  <div class="check-box">
    <i class="material-icons">check</i>
  </div>
  <div class="toto-text">
    {{ todo.text }}
  </div>
  <div class="todo-controls-box" (click)="$event.stopPropagation()">
    <div class="todo-controls-button" (click)="onEditClicked()">
      <i class="material-icons">edit</i>
    </div>
    <div class="todo-controls-button is-danger">
      <i class="material-icons">delete</i>
    </div>
  </div>

</div>
